/* mover todo el codigo del .html al .css */

html, body {
  margin: 0;
  width: 100%;
}

body {
  background-color: #22c1c3;
  display: grid;
  justify-content: center;
}

header {
  background-color: chartreuse;
  display: flex;
  justify-content: space-evenly;
}

#blockPanel {
  background-color: chocolate
}

#myCanvas {
  background-color: grey;
}


#puntuacion {

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  text-align: center;
}